
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f67f; 
    color: #333; 
    line-height: 1.6;
    padding: 20px;
  }
  .search-container{
    background-color: #f4f4cc;
  }
  
  .App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  
  h1 {
    text-align: center;
    color: #4f6d7a; 
    margin-bottom: 20px;
  }
  
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  
  input[type="text"]:focus {
    border-color: #4f6d7a;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4f6d7a; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e5b66;
  }
  
 
  p {
    margin-top: 10px;
    color: red;
    font-weight: bold;
  }
  
 
  .carousel-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    background-color: #f4f4cc;
  }
  
  .carousel {
    display: flex; 
    transition: transform 0.5s ease; 
  }
  
  .carousel-item {
    flex: 0 0 100%; 
    padding: 15px;
    border: 1px solid #ddd;
    margin: 5px;
    box-sizing: border-box;
    background-color: #f4f4cc;
    border-radius: 8px;
  }
  
  ol {
    padding-left: 0;
    margin: 0;
    list-style-type: none; 
  }
  
  ol li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  }
  
  
  .carousel-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  button[disabled] {
    background-color: #f4f4cc;
    cursor: not-allowed;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4f6d7a;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e5b66;
  }
  
  button:disabled {
    background-color: #dcdcdc;
  }
  
  
  .carousel-item ol li {
    position: relative;
    padding-left: 20px;
  }
  
  .carousel-item ol li::before {
    content: attr(data-question-number);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #4f6d7a;
  }
  
  
  ul li {
    font-style: italic;
    color: #888; 
  }
  
 
  ul {
    list-style-type: decimal; 
    padding-left: 20px;
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9; 
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  li:last-child {
    margin-bottom: 0; 
  }
  