.body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  margin: 0;
  background-color: #f6f67f;
}

.App {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  background-color: #f4f4cc;
  border-radius: 8px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  flex: 1;
}

.floating-image {
  width: 80%;
  max-width: 600px;
  height: auto;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
